/* Style the tab */
.tab {
  overflow: hidden;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: white;
  height: 65%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 15px;
  height: 70%;
}

/* Change background color of buttons on hover */
/*.tab button:hover {
  background-color: #529ea8;
}*/

/* Create an active/current tablink class */
.tab button.active {
  background-color: #29aeae50;
}

/* Style the tab content */
.tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
